* {
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 243, 192);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1vw;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.card {
    border-radius: 3.5vw;
    background-color: white;
    width: 28%;
    height: auto;
    text-align: center;
    box-shadow: 0.2vw 0.2vw 2vw rgb(151, 151, 151) ;
}
.imgCont{
    background-image: url("res/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3.5vw 3.5vw 0 0;
    height: 15vw;
    position: relative;
}
img.profileImg {
    position: absolute;
    top: 10%;
    left: 36%;
    display: block;
    border-radius: 50%;
    width: 33%;
}
.name {
    font-size: 2vw;
    margin-bottom: 0;
    letter-spacing: 0.3vw;
}
.userName {
    color: gray;
    font-style: normal;
}
.links{
    list-style-type: none;
    margin: 1vw auto;
    padding: 0;
    width: fit-content;
}
.links li {
    float: left;
}
.links li a {
    display: block;
    padding: 1.3vw;
}
a span {
    background: url("res/spritesheet22.png") 0 0 no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    color: transparent;
    font: 0/0 a;
}
#facebook {background-position: 0 0;}
#linkedin {background-position: -22px 0;}
#twitter {background-position: -44px 0;}
#instagram {background-position: -66px 0;}
#google {background-position: -88px 0;}
.descBox {
    width: 85%;
    text-align: center;
    margin: auto;
}
.descBox p {
    font-weight: 600;
}
.buttCont {
    margin: 4.5vw 0 2.8vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
button {
    padding: 0.8vw 0;
    width: 40%;
    border-radius: 3vw;
    background-color: white;
    border: 0.2vw solid rgb(180, 180, 180);
    color: gray;
    font-size: 1vw;
}
button:hover {
    background-color: rgb(224, 63, 140);
    border: rgb(224, 63, 140);
    color: white;
    cursor: pointer;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 768px) {
    a span {
        background: url("res/spritesheet14.png") 0 0 no-repeat;
        width: 14px;
        height: 14px;
    }
    #facebook {background-position: 0 0;}
    #linkedin {background-position: -14px 0;}
    #twitter {background-position: -28px 0;}
    #instagram {background-position: -42px 0;}
    #google {background-position: -56px 0;}
    .links li a {
        padding: 0.5vw;
    }
}


